# folders to ignore
/node_modules
/.vscode

# config secrets
config/config.env
config.env

# development notes
z-notes.md

# testing file
testing.http


# related to sequelize Migrations
config/config.json
/seeders
models/index.js
